<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Calendar</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
        <link rel ="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
        <script src="{{ url_for('static', filename='moment.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='calendar.js') }}" defer></script>
    </head>
    <body>
        <h1>Hey buddy! Here's your calendar.</h1>
        <div id="calendar"></div>
    </body>

</html>
