<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{{ url_for('static', filename='idex.css') }}">
    <script src="{{ url_for('static', filename='idex.js') }}" defer></script>
    <title>Completed Tasks</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
</head>
<body>
    <div class="task-container">
        <h1>Completed Tasks</h1>
        <div class="section">
            <h3>Tasks</h3>
            <ul>
                {% for task in tasks %}
                    <li>
                        <input type="checkbox" id="task{{ task['TID'] }}" name="task{{ task['TID'] }}" value="{{ task['TID'] }}" checked>
                        <label for="task{{ task['TID'] }}">{{ task['task'] }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button class="task-button" onclick="window.location.href='{{ url_for('nextpage') }}';">Dashboard</button>
    </div>
</body>
</html>
