<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify! | Login</title>
    <link rel ="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
    <script src="{{ url_for('static', filename='background-script.js') }}" defer></script>
</head>
<body>
    <div class="stars" id="stars"></div>
    <div class="wrapper">
        <header>
            <div class="container">
                <div id="brand">
                    <h1>
                        Taskify!
                    </h1>
                </div>
                <nav>
                    <ul>
                        <li id="Home">
                            <a href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li id="Login" class="current">
                            <a href="{{ url_for('login') }}">Login</a>
                        </li>
                        <li id="Register">
                            <a href="{{ url_for('register') }}">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div id="register">
                <h2>
                    Login   
                </h2>
                <form method="POST">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                    {% if error %}
                    <p style="color:red;">{{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </main>
        <footer>
            <p>
                &copy; 2024 Taskify! | All Rights Reserved
            </p>
        </footer>
    </div>
    <!--<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

<script type="text/javascript">
    var onloadCallback = function() {
        grecaptcha.render('google-recaptcha-checkbox', {
            'sitekey' : '6LeuxwoqAAAAALbj5_JMHbp9OTdzad6Eqn1O1fes'
        });
    };
</script>-->
</body>
</html>
