<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Chat.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
</head>
<body>
    <h1>Create New Post</h1>
    <form method="POST">
        <input type="text" name="title" placeholder="Title" required><br>
        <textarea name="body" placeholder="Write your post here..." required></textarea><br>
        <button class=sub-button type="submit">Submit</button>
    </form>
    <a href="{{ url_for('discussion_board') }}">Back to Discussion Board</a>
    <a href="{{ url_for('nextpage') }}" id="fixed-round-button">
        <img src="{{ url_for('static', filename='images/to-do.png') }}" alt="Button Image">
    </a>
</body>
</html>
