<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='idex.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
    <script src="{{ url_for('static', filename='idex.js') }}" defer></script>
    <style>
        h2 {
            text-align: left;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div id="posts">
        <h1>{{ post.title }}</h1>
        <div>
            {% if archieved_check == 0 %}
            <div style="text-align: right;">
                <button class="new-button" onclick="window.location.href='{{ url_for('activePages.discussion_board') }}';" id="back-button" style="margin:0; padding:0; scale:1.7; width:auto; height: 20px; background-color: rgb(2, 57, 123);" title="Back to Discussion Board">⬅️</button>
                <!-- <input type="image" href={{ url_for('static', filename='Images/icon-back-0.jpg') }} style="margin: 0; padding:0;" /> -->
            </div>
            {% else %}
            <div style="text-align: center;">
                <class="new-button" onclick="window.location.href='{{ url_for('activePages.archieved_posts') }}';" id="back-button" style="margin:0; padding:0; scale:1.7; width:auto; height: 20px; background-color: rgb(2, 57, 123);" title="Back to Archieved Posts"><span></span></button>
            </div>
            {% endif %}
        </div>
        <p>{{ post.body }}</p>
        <small>By {{ post.first_name }} {{ post.last_name }} on {{ post.created_at }}</small>
    </div>
    <h2>Comments</h2>
    {% if archieved_check == 0 %}
    <form method="POST">
        <textarea name="body" placeholder="Write your comment here..." required></textarea><br>
        <button class="sub-button" type="submit">Submit</button>
    </form>
    {% endif %}

    <div id="comments">
        {% if comments|length == 0 %}
        <div style="text-align: center;">
            <div class="comment" style="background-color: rgb(41, 96, 192); color:gold; ">
                <p style="font-weight: 100; font-size: large; padding:0; margin:4px">No comments yet</p>
            </div>
        </div>
        {% else %}
            {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.body }}</p>
                <small>By {{ comment.first_name }} {{ comment.last_name }} on {{ comment.created_at }}</small>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <a href="{{ url_for('activePages.nextpage') }}" id="fixed-round-button">
        <img src="{{ url_for('static', filename='images/to-do.png') }}" alt="Button Image">
    </a>
</body>
</html>
