<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify! | Register</title>
    <link rel ="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="brand">
                <h1>
                    Taskify!
                </h1>
            </div>
            <nav>
                <ul>
                    <li id="Home">
                        <a href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li id="Login">
                        <a href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li id="Register" class="current">
                        <a href="{{ url_for('register') }}">Register</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        <form method="POST">
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="text" name="first_name" id="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="password2" id="password2" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
