body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#posts, #comments {
    margin: 20px;
}

.post, .comment {
    position: relative; /* Add this to use absolute positioning for delete button */
    background: #fff;
    padding: 1%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin: 20px;
}

input, textarea {
    width: 97%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sub-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.sub-button:hover {
    background-color: #555;
}

small {
    display: block;
    margin-top: 10px;
    color: #777;
}

/* Delete buttons */
.delete-button {
    position: absolute; /* Position the delete button absolutely */
    top: 15%; /* Adjust top position as needed */
    right: 2%; 
    background: none;
    border: none;
    color: red;
    font-size: 1.2em;
    cursor: pointer;
}

.delete-button:hover {
    color: darkred;
}
