/* GLOBAL STYLES */
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0 0 0 0;
    /* background-color: #f4f4f4; */
    /* background-repeat: repeat; */
    /* -webkit-background-clip:text;
    background-clip:text; */
    height:100%;
    margin: 0%;
    overflow-x: hidden;
}

.container{
    width: 90%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.wrapper::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: url('Images/20536905.jpg') center center/cover no-repeat; */
    background-image: radial-gradient( #0c0570 0%,#0a045a 25%,#10034f 45%, #010235 70%, #000000 100% );
    z-index: -1;
    /* animation:  15s ease-in-out infinite alternate; */
}

@keyframes gradient{
    0%{
        background-color: #f5d0f8;
    }
    25%{
        background-color: #c4bdf2;  
    }
    50%{
        background-color: #a5b5f6;  
    }
    75%{
        background-color: #b2deff;  
    }
    100%{
        background-color: #b8fff9;  
    }
}   

  
.star-small {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: animStar 0.5s linear infinite;
}

.star-mid {
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: animStar 1s linear infinite;
}

.star-big{
    position: absolute;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: animStar 1.5s linear infinite;
}

  
@keyframes animStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-200px);
    }
}

/* HEADERS */
/* General styles */
header {
    background: #3e10a2;
    color: #ffffff;
    padding-bottom: 5px;
    padding-top: 20px;
    min-height: 55px;
    border-bottom: #e8491d 3px solid;
    position: relative;
    animation: slide_down 0.25s ease-in-out;   
}

@keyframes slide_down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

header #brand a {
    margin-left: 0px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    background-color: rgb(133, 35, 0);
    border-radius: 20px;
    text-decoration: none;
}

header #brand h1 {
    margin: 0;
    color: rgb(231, 180, 51);
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header nav .current a {
    color: rgb(231, 180, 51);
    font-weight: bold;
}

header nav a:hover {
    color: #cccccc;
    font-weight: bold;
    font-size: 18px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: relative;
}

.hamburger::before, .hamburger::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    header nav {
        display: none;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    header nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    header nav li {
        float: none;
        display: block;
        padding: 10px 0;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu-toggle.active .hamburger {
        background-color: transparent;
    }

    .menu-toggle.active .hamburger::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-toggle.active .hamburger::after {
        transform: rotate(-45deg);
        top: 0;
    }

    header nav.show {
        display: block;
    }
}


/* Main */

main{
    flex: 1;
    position: relative;
}

/* #index-details img{
    max-width: 100%;
    height: auto;
    opacity: 0.5;
    } */

#index-detail-box hr{
    width: 90%;
    border: 1px solid #e8491d;
    margin-top: 2%;
    margin-bottom: 2%;
}
            
#Get-Started .index-detail-1{
    background-color: #0051ad;
    width: 80%;
    height:auto;
    padding: 30px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid #e8491d; */
    opacity: 0.75;
    position: relative;
    z-index: 1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(248, 149, 0);
}

.index-detail-2 {
    background-color: #8b0202;
    width: 80%;
    height:auto;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    /* border: 1px solid #e8491d; */
    opacity: 0.75;
    position: relative;
    z-index: 1;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(239, 235, 1);
}

#index-detail-box #headline {
    position:relative;
}
#index-detail-box #headline h2{
    text-align: center;
    font-size: 35px;
    color: rgb(205, 111, 4);
    animation: slide_in 0.5s ease-in-out;
}

/* @keyframes slide_in {
    from {
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0);
    }
} */

#headline-support{
    background-color: #8b0202;
    width: 85%; 
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 10px;
    position: relative;
    opacity: 0.9;
    z-index: 1;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    /* color: rgb(222, 166, 25); */
    color:rgb(220, 176, 20);
}

#Why-Taskify{
    background-color: #0072a3;
    width: 80%;
    height:auto;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:40px;
    padding-right:25px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    opacity: 0.95;
    position: relative;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    z-index: 1;
    color: rgb(250, 233, 233);
}

.Features-container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    
}

.Features-container .box{
    display: block;  
    float: left;
    width: 23%;
    margin:1%;
    margin-left: 7.25%;
    margin-bottom: 3%;
    margin-right: 1%;
    /* background-color: #41cf65; */
    opacity: 0.75;
    position: relative;
    z-index: 1;
    text-align: center;
}

.box .box-1{
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    background-color: #008a1e;
    height:200px;
    color: #ffffff;
}

.box .box-2{
    border-radius: 10px;
    height:200px;
    padding: 10px;
    padding-top: 20px;
    background-color: #8b00b9;
    color: #ffffff;
}

.Features-container .box-3{
    display: block;  
    float: left;
    width: 20%;
    padding: 10px;
    padding-top: 20px;
    margin:1%;
    margin-left: 8%;
    margin-bottom: 3%;
    margin-right: 1%;
    background-color: #b00181;
    height:150px;
    opacity: 0.75;
    position: relative;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
    color:rgb(255, 255, 255)
}

#index-detail-box .special-h3-2{
    width: 80%;
    margin-left: 9%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color:rgb(255, 217, 0);
    margin: 0 auto;
}   

#index-detail-box h3{
    width: 80%;
    margin-left: 9%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(205, 111, 4);
}

#index-detail-box .special-h3{
    margin: 0 auto;
    font-size: 20px;
    color: rgb(255, 217, 0);
}


#index-detail-box #headline {
    border-radius: 10px;
    height: 50px;
}

#index-detail-box.index-detail h3{
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

#index-detail-box.index-detail hr{
    border: 1px solid #e8491d;
}

#index-detail-box.index-detail p{
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

.olist_heading{
    font-size: 25px;
    color: rgba(0, 0, 0, 1);
}

/* Register */

#register{
    background-color: #ffffff;
    width: 300px;
    height:100%;
    padding: 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid #e8491d;
}

#register h2{
    text-align: center;
    font-size: 40px;
}

#register form{
    margin-top: 15px;
    padding-left: 20px;
    /* border: 5px dotted #e8491d; */
    align-content: center;
}

#register input{
    padding: 4px;
    margin-top: 5px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #e8491d;
}

#register button{
    margin-top: 10px;
    padding: 5px;
    margin-left: 29%;
    width: 100px;
    border-radius: 5px;
    background-color: #e8491d;
    color: white;
    
}

/* Dashboard */

#description_sec{
    float:right;
    width: 50%;
}

#description-bar{
    border: 3px solid #1b1c5b;
    background-color: rgba(164, 164, 164, 1);
    width: 75%;
    height: 500px;
    margin: 0 auto;
    margin-top: 10%;
    margin-left: 18%;
    border-radius: 10px;
    position: relative;
    opacity: 0.9;
    z-index: 1;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#description-bar .header{
    width: 100%;
    background-color: #4A4A4A;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-top-left-radius: 6.5px;
    border-top-right-radius: 6.5px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    position:relative;
    z-index: -10;   

}

#description-bar .header span{
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #5d1a98;
    color: rgb(255, 255, 255);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 2px;

}

/* Calendar */
#calendar_sec{
    float:left;
    width: 100%;
}
#calendar {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
    /* margin: 0; */
    padding: 0;
    background: #4A4A4A;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    height: 600px;
    width: 100%;
    overflow: hidden;
    display:block;
    text-align: center;
    border-radius: 5%;
    border: 3px solid rgb(39, 39, 39); /* Add this line to add a border */
    /* border-top: rgb(52,52,52) 7px solid;
    border-left:rgb(52,52,52) 8px solid; */
}

.header {
    height: 50px;
    width: 100%;
    background: rgba(66, 66, 66, 1);
    text-align: center;
    position:relative;
    z-index: 100;
}
  
.header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
}

.left, .right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    top: 50%;
    margin-top: -7.5px;
    cursor: pointer;
}

.left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
    left: 20px;
}

.right {
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgba(160, 159, 160, 1);
    right: 20px;
}

.month {
    overflow: hidden;
    opacity: 0;
}

.month.new {
    -webkit-animation: fadeIn 1s ease-out;
    -moz-animation: fadeIn 1s ease-out;
    animation: fadeIn 1s ease-out;
    opacity: 1;
    margin-top: 20px;
}

.month.in.next {
    -webkit-animation: moveFromTopFadeMonth .4s ease-out;
    -moz-animation: moveFromTopFadeMonth .4s ease-out;
    animation: moveFromTopFadeMonth .4s ease-out;
    opacity: 1;
}

.month.out.next {
    -webkit-animation: moveToTopFadeMonth .4s ease-in;
    -moz-animation: moveToTopFadeMonth .4s ease-in;
    animation: moveToTopFadeMonth .4s ease-in;
    opacity: 1;
}

.month.in.prev {
    -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
    -moz-animation: moveFromBottomFadeMonth .4s ease-out;
    animation: moveFromBottomFadeMonth .4s ease-out;
    opacity: 1;
}

.month.out.prev {
    -webkit-animation: moveToBottomFadeMonth .4s ease-in;
    -moz-animation: moveToBottomFadeMonth .4s ease-in;
    animation: moveToBottomFadeMonth .4s ease-in;
    opacity: 1;
}

.week {
    background: #4A4A4A;
}

.day {
    display: inline-block;
    width: 10%;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    background: #4A4A4A;
    position: relative;
    z-index: 100;
}

.day.other {
    color: rgba(255, 255, 255, .3);
}

.day.today {
    color: rgba(156, 202, 235, 1);
}

.day-name {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: .7px;
}

.day-number {
    font-size: 24px;
    letter-spacing: 1.5px;
}


.day .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
}

.day .day-events span {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 8px;
    line-height: 5px;
    margin: 0 1px;
}

.blue { background: rgba(156, 202, 235, 1); }
.orange { background: rgba(247, 167, 0, 1); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgba(249, 233, 0, 1); }

#details-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#details-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.details {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 320px;
    background: rgba(164, 164, 164, 1);
    margin-top: 5px;
    border-radius: 4px;
}

.details.in {
    -webkit-animation: moveFromTopFade .5s ease both;
    -moz-animation: moveFromTopFade .5s ease both;
    animation: moveFromTopFade .5s ease both;
}

.details.out {
    -webkit-animation: moveToTopFade .5s ease both;
    -moz-animation: moveToTopFade .5s ease both;
    animation: moveToTopFade .5s ease both;
}

.arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
    transition: all 0.7s ease;
}

.events {
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.events.in {
    -webkit-animation: fadeIn .5s ease both;
    -moz-animation: fadeIn .5s ease both;
    animation: fadeIn .5s ease both;
}

.events.in {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}

.details.out .events {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation: fadeOutShrink .4s ease both;
    -moz-animation: fadeOutShink .4s ease both;
    animation: fadeOutShink .4s ease both;
}

.events.out {
    -webkit-animation: fadeOut .3s ease both;
    -moz-animation: fadeOut .3s ease both;
    animation: fadeOut .3s ease both;
}

.event {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
    padding: 2px 16px;
    vertical-align: top;
}

.event.empty {
    color: #eee;
}

.event-category {
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 6px 0 0;
    vertical-align: top;
    }

.event span {
    display: inline-block;
    padding: 0 0 0 7px;
}

.legend {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(60, 60, 60, 1);
    line-height: 30px;

}

.entry {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 13px;
    display: inline-block;
    line-height: 30px;
    background: transparent;
}

.entry:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
}

.entry.blue:after { background: rgba(156, 202, 235, 1); }
.entry.orange:after { background: rgba(247, 167, 0, 1); }
.entry.green:after { background: rgba(153, 198, 109, 1); }
.entry.yellow:after { background: rgba(249, 233, 0, 1); }

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
    from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
    from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
    from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
    to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
    to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
    to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
    to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
    from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
    from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
    from { opacity: 0; }
}
@keyframes fadeIn  {
    from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
    to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
    to { opacity: 0; }
}
@keyframes fadeOut  {
    to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
    to { opacity: 0; padding: 0px; height: 0px; }
}


/* Footer */
footer {
    background: #522056;
    color: rgb(231, 180, 51);
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 4px;
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 1;
    margin-top: 4%;
}

@keyframes slide_side{
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e8491d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e64f25; 
  }