/* GLOBAL STYLES */
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

/* HEADERS */
header{
    background:#35424a;
    color:#ffffff;
    padding-top: 30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;
}

header #brand{
    float:left;
}

header #brand h1{
    margin:0;
    color:rgb(231, 180, 51);
}

header nav{
    float:right;
    margin-top: 10px;
}

header .current a{
    color:darkgoldenrod;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/* Register */

#register{
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 10px;
    border: 1px solid #e8491d;
}

#register h2{
    text-align: center;
    font-size: 40px;
}

#register form{
    margin-top: 15px;
    padding-left: 20px;
    /* border: 5px dotted #e8491d; */
    align-content: center;
}

#register input{
    padding: 4px;
    margin-top: 5px;
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #e8491d;
}

#register button{
    margin-top: 10px;
    padding: 5px;
    margin-left: 29%;
    width: 100px;
    border-radius: 5px;
    background-color: #e8491d;
    color: white;

}